stages:          
  - build
  - deploy

build:
  stage: build
  script:
    - mvn clean install package
  tags: 
      - linux

  artifacts:
    paths:
      - target/myapp-CICD.war
     
   
deploy:
  stage: deploy
  dependencies:
    - build
  script:
    - sudo cp target/myapp-CICD.war /opt/tomcat/webapps/
    - sudo systemctl restart tomcat
  tags: 
    - linux